{% extends 'base.html' %}

{% block title %} User-Detail {% endblock %}

{% block content %}

    <img src={{user.image_url}} alt="user profile image">
    <h1>User To Edit:</h1>
    <h1>First Name: {{user.first_name}} Last Name: {{user.last_name}}</h1>
    <h2>User Id is: {{user.id}}</h2>

    <div class="container">
        <form action="/users/{{user.id}}/edit">
            <button type="buton" class="btn btn-primary"> Edit </button>
        </form>

        <form action="/users/{{user.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger"> Delete </button>
        </form>
    </div>

    <h1>Posts</h1>

    <ul>

        {% for post in posts%}

        <li> {{ post }}</li>

        {%endfor%}

    </ul>

    

{% endblock %}
