{% extends 'base.html' %}

{% block title %} User-Detail {% endblock %}

{% block content %}

        <img src={{user.image_url}} alt="user profile image">
        <h1>User:</h1>
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <h2>User Id is: {{user.id}}</h2>

        <div class="container justify-content-center">
            <div class="d-flex flex-row">
                <form action="/users/{{user.id}}/edit">
                    <button type="buton" class="btn btn-primary"> Edit </button>
                </form>
                <form action="/users/{{user.id}}/delete" method="POST">
                    <button type="submit" class="btn btn-danger"> Delete </button>
                </form>
            </div>
        </div>

        <h1>Posts</h1>

        <ul>

            {% for post in posts %}

            <li> <a href="/posts/{{post.id}}"> {{ post.title }}</a> </li>

            {% endfor %}

        </ul>

        <form action="/users/{{user.id}}/posts/new">
            <button type="submit" class="btn btn-primary"> Add Post </button>
        </form>



{% endblock %}
